@model BusinessApp.CarpetWash.MvcWebUI.Models.RegisterViewModel
@using BusinessApp.CarpetWash.MvcWebUI.Shared;

<!-- Modal -->
<div class="modal fade" id="registration-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-reg-btn" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Kayıt Ol!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @{
                    var modalData = TempData.Get<ModalData>("modal");
                    if (modalData.IsNotNull())
                    {
                        <p class="text-danger modal-error"><b>@modalData.Error</b></p>
                    }
                }
                <form method="post" asp-controller="Account" asp-action="Register">
                    <input name="isFBUser" value="false" hidden />
                    <div class="text-center social-btn">
                        <a id="fb-login-btn-reg" class="btn btn-primary btn-lg" disabled><i class="fab fa-facebook-f"></i><b>Facebook</b></a>
                        <a id="tw-login-btn-reg" class="btn btn-info btn-lg" disabled><i class="fab fa-twitter"></i><b>Twitter</b></a>
                        <a id="go-login-btn-reg" class="btn btn-danger btn-lg" disabled><i class="fab fa-google"></i><b>Google</b></a>
                    </div>
                    <div class="or-seperator"><i>or</i></div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                            </div>
                            <input asp-for="Email" type="email" class="form-control" placeholder="Email" required="required" maxlength="256">
                        </div>
                        <div class="input-group">
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input asp-for="UserName" type="text" class="form-control" placeholder="Username" required="required" maxlength="256">
                        </div>
                        <div class="input-group">
                            <span asp-validation-for="UserName"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                            </div>
                            <input asp-for="Password" type="password" class="form-control" id="password_reg" placeholder="Password" required="required" minlength="6" maxlength="32">
                        </div>
                        <div class="input-group">
                            <span asp-validation-for="Password"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                            </div>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" id="confirm_password_reg" placeholder="Confirm Password" required="required" minlength="6" maxlength="32">
                        </div>
                        <div class="input-group">
                            <span asp-validation-for="ConfirmPassword"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block submit-btn" name="register">Kayıt</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="hint-text small">
                    Zaten bir hesabınız varmı?
                    <a href="#" id="reg-modal-log-btn" data-toggle="modal" data-target="#login-modal" data-dismiss="modal" class="text-success"><strong>Şimdi Giriş Yapın!</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-content {
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        width: 440px;
        margin: 120px auto;
        border: 0px;
    }

    .modal-open {
        overflow: auto;
        padding-right: 0px !important;
    }

    .ws-modal-body {
        padding: 30px;
    }

        .ws-modal-body h2 {
            color: #333;
            font-weight: bold;
            margin: 0 0 15px;
            text-align: center;
            font-size: 28px;
        }

    .ws-modal-footer {
        padding: 20px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }

        .ws-modal-footer .hint-text {
            color: #777;
            text-align: center;
        }

        .ws-modal-footer .btn + .btn {
            margin-bottom: 0;
            margin-left: 5px;
        }

    .form-control,
    .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .submit-btn {
        font-size: 15px;
        font-weight: bold;
    }

    .or-seperator {
        margin: 30px 0 10px;
        text-align: center;
        border-top: 1px solid #ccc;
    }

        .or-seperator i {
            padding: 0 10px;
            background: #f7f7f7;
            position: relative;
            top: -15px;
            z-index: 1;
        }

    .social-btn .btn {
        color: white !important;
        margin: 10px 0 0 15px;
        font-size: 15px;
        border-radius: 5px;
        font-weight: normal;
        border: none;
        transition: all 0.4s;
    }

        .social-btn .btn:first-child {
            margin-left: 0;
        }

        .social-btn .btn i {
            float: none;
            margin: 3px 10px 0 0px;
            min-width: 10px;
        }

    .input-group-addon .fa {
        font-size: 18px;
    }

    .modal-error {
        margin-bottom: 0px;
        margin-top: 10px;
    }

    #fb-reg-btn {
        background-color: #7d97cd;
    }

        #fb-reg-btn:hover {
            background-color: #3B5998;
        }

    #tw-reg-btn {
        background-color: #7ec2f7;
    }

        #tw-reg-btn:hover {
            background-color: #38a1f3;
        }

    #go-reg-btn {
        background-color: #e78174;
    }

        #go-reg-btn:hover {
            background-color: #dd4b39;
        }
</style>
