@model BusinessApp.CarpetWash.MvcWebUI.Models.ContentViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- Basic form -->
<div class="col-md-12">
    <div class="panel panel-default">
        <header class="panel-heading">Create New @Model.Type</header>
        <div class="panel-body">
            <form role="form" asp-action="Create" enctype="multipart/form-data">
                <input asp-for="Type" class="form-control" type="hidden" />
                <input asp-for="UserId" class="form-control" type="hidden" />

                <div class="form-group">
                    <label class="control-label">Select Category</label>
                    <select asp-for="CategoryId" class="form-control" asp-items="Model.CategoryList"></select>
                </div>

                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Slug" class="control-label"></label>
                    <input asp-for="Slug" class="form-control" />
                    <span asp-validation-for="Slug" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Excerpt" class="control-label"></label>
                    <input asp-for="Excerpt" class="form-control" />
                    <span asp-validation-for="Excerpt" class="text-danger"></span>
                </div>

                <textarea asp-for="Text" name="Text" id="TextArea" rows="10" cols="80"></textarea>

                <div class="form-group">
                    <label asp-for="ProfileImage">Choose file</label>
                    <input asp-for="ProfileImage">
                </div>

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>

                <div class="form-group">
                    <label class="control-label">Insert Tags Below</label><br />
                    <input type="text" data-role="tagsinput" name="tags" value="">
                </div>

                <button type="submit" class="btn btn-success">Create @Model.Type</button>
                <a asp-action="Index" asp-route-type="@Model.Type" class="btn btn-danger">Back to List</a>
            </form>
        </div>
    </div>
</div>