@model BusinessApp.CarpetWash.MvcWebUI.Models.FeatureViewModel
@using BusinessApp.CarpetWash.Entities.Concrete.Enums
@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}

<!-- Basic form -->
<div class="col-md-12">
    <div class="panel panel-default">
        <header class="panel-heading">Create New @Model.Type</header>
        <div class="panel-body">
            <form asp-action="Create" enctype="multipart/form-data">
                <input asp-for="Type" class="form-control" type="hidden" />
                <input asp-for="UserId" class="form-control" type="hidden" />

                @if (Model.Type != ContentType.ContactFeature)
                {
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Excerpt" class="control-label"></label>
                        <input asp-for="Excerpt" class="form-control" />
                        <span asp-validation-for="Excerpt" class="text-danger"></span>
                    </div>
                }

                @if (Model.Type != ContentType.HomeFeatureExcerpt)
                {
                    @if (Model.Type != ContentType.ContactFeature)
                    {
                        <div class="form-group">
                            <label asp-for="FeatureTitles" class="control-label"></label>
                            <input asp-for="FeatureTitles" class="form-control" />
                            <span asp-validation-for="FeatureTitles" class="text-danger"></span>
                        </div>
                    }
                    <div class="form-group">
                        <label asp-for="FeatureDetails" class="control-label"></label>
                        <input asp-for="FeatureDetails" class="form-control" />
                        <span asp-validation-for="FeatureDetails" class="text-danger"></span>
                    </div>
                }


                @if (Model.Type == ContentType.AboutFeature || Model.Type == ContentType.HomeFeature)
                {
                    if (Model.Type == ContentType.AboutFeature)
                    {
                        <div class="form-group">
                            <label asp-for="ProfileImage">Choose file</label>
                            <input asp-for="ProfileImage" multiple>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label asp-for="ProfileImage">Choose file</label>
                            <input asp-for="ProfileImage">
                        </div>
                    }
                }

                @if (Model.Type == ContentType.ContactFeature)
                {
                    <div class="form-group">
                        <label asp-for="Location" class="control-label"></label>
                        <input asp-for="Location" class="form-control" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>

                }

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index">Back to List</a>
                </div>

            </form>
        </div>
    </div>
</div>
